[submodule "z/z"]
	path = z/z
	url = https://github.com/rupa/z.git
[submodule "system/fonts.symlink/powerline-fonts"]
	path = system/fonts.symlink/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
